:root {
  --header-link-height: 60px;
  --logo-margin-right: 51px; /* espaço entre logo e nav */
  --item-spacing: 30px;      /* espaçamento entre links */
  --blue-color: #00acdc;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* ocupa toda a largura */
  border-bottom: 1px solid #e5e5e5;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1024px;
  padding: 0 49px 0 50px; /* 50px da borda esquerda, 49px da direita */
  justify-content: space-between;
}

.logo-link {
  margin-right: var(--logo-margin-right);
}

.logo {
  height: 40px;
}

.nav__list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__item {
  margin-left: var(--item-spacing);
}

.nav__item:first-child {
  margin-left: 0;
}

.nav__link {
  display: flex;
  align-items: center;
  height: var(--header-link-height);
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav__link:hover {
  color: var(--blue-color);
}

.nav__link.is-active {
  position: relative;
  color: var(--blue-color);
}

.nav__link.is-active::after {
  content: '';
  position: absolute;
  height: 2px; /* conforme Figma */
  width: 100%;
  background: var(--blue-color);
  border-radius: 8px;
  bottom: 0;
  left: 0;
}
